{{> header}}
{{> navbar}}
{{> mensaje}}
<div id='separacion'></div>
<div id="barra">
    <h2><i class="fas fa-search"></i>&nbsp CONSULTAR USUARIOS</h2>
</div>
<br><br>
<form action="/menu_gestionus">
    <div class="main row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <table class="table">
                <tr>
                    <th>Nombre</th>
                    <th>Cédula</th>
                    <th>Correo</th>
                    <th>Dirección</th>
                    <th>Teléfono</th>
                    <th>Estado</th>
                    <th>Tipo</th>
                    <th>Imagen</th>
                </tr>
                {{#each datos}}
                <tr>
                    <td>{{nombre}}</td>
                    <td>{{cedula}}</td>
                    <td>{{correo}}</td>
                    <td>{{direccion}}</td>
                    <td>{{telefono}}</td>
                    <td>{{#if estado}}
                        activo
                        {{else}}
                        Inactivo
                        {{/if}}
                    </td>
                    <td>{{tipo}}</td>
                    <td id="columna_imagen">
                        {{#if imagen}}
                        <img src="{{imagen}}" width="70%" height="200px"></img>
                        {{else}}
                        No tiene imagen
                        {{/if}}
                    </td>
                </tr>
                {{/each}}
            </table>
            <div id="espaciado_pag">
            </div>
            <center>
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-arrow-left"></i>&nbsp Regresar</button>
            </center>
            <div id="espaciado_boton"></div>
        </div>
        <div class="col-md-1"></div>
    </div>
</form>
{{> footer}}