{{> header}}
{{> navbar}}

<div id='separacion'></div>
<div class="container">
<br><br>
{{> mensaje}}
{{#if factura}}
<div class="main row-center">
  <div class="col-md-1">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal1"><i class="fas fa-info-circle"></i></button>
      <b style="color:#160F5B; font-size: small;">Ayuda</b>
</div>
<center>
    <hr>
    <label id="datos"><i class="fas fa-pen-square" style="color:#160F5B ;"></i>&nbsp&nbsp Datos factura: {{factura.num_factura}}</label>
    <br><br><br>
    <table>
        <tr>
            <td id="facturacion">
                <label> <i class="fas fa-user-alt" style="color:#160F5B ;"></i>&nbsp Usuario: </label>
            </td>
            <td>
                <label  class="form-control" id="exampleInputPassword1" style="background-color: #78AEEE;"> {{factura.nombre}}</label>
            </td>
        </tr>
        <tr>
            <td id="facturacion">
                <label><i class="fas fa-id-card" style="color:#160F5B ;"></i>&nbsp Cédula: </label>
            </td>
            <td>
                <label  class="form-control" id="exampleInputPassword1" style="background-color: #78AEEE;">{{factura.cedula}}</label>
            </td>
        </tr>
        <tr>
            <td id="facturacion">
                <label> <i class="fas fa-truck" style="color:#160F5B ;"></i>&nbsp Dirección: </label>
            </td>
            <td>
                <label  class="form-control" id="exampleInputPassword1" style="background-color: #78AEEE;">{{factura.direccion}}</label>
            </td>
        </tr>
        <tr>
            <td id="facturacion">
                <label><i class="fas fa-phone-volume" style="color:#160F5B ;"></i>&nbsp Producto:</label>
            </td>
            <td>
               <label  class="form-control" id="exampleInputPassword1" style="background-color: #78AEEE;">{{factura.nombre_prod}}</label>
            </td>
        </tr>
        <tr>
            <td id="facturacion">
                <label><i class="fas fa-envelope" style="color:#160F5B ;"></i>&nbsp Cantidad: </label>
            </td>
            <td>
                <label  class="form-control" id="exampleInputPassword1" style="background-color: #78AEEE;">{{factura.cant_comp}}</label>
            </td>
        </tr>
         <tr>
            <td id="facturacion">
                <label><i class="fas fa-envelope" style="color:#160F5B ;"></i>&nbsp Total: </label>
            </td>
            <td>
                <label  class="form-control" id="exampleInputPassword1" style="background-color: #78AEEE;">{{factura.total}}</label>
            </td>
        </tr>
    </table>
</center>
</div>
</div>
{{else}}
<h2>POR Crear</h2>
{{#each facturas}}
<center>
    <hr>
    <label id="datos"><i class="fas fa-pen-square" style="color:#160F5B ;"></i>&nbsp&nbsp Datos factura: {{num_factura}}</label>
    <br><br><br>
    <table>
        <tr>
            <td id="facturacion">
                <label> <i class="fas fa-user-alt" style="color:#160F5B ;"></i>&nbsp Usuario: </label>
            </td>
            <td>
                <label  class="form-control" id="exampleInputPassword1" style="background-color: #78AEEE;"> {{nombre}}</label>
            </td>
        </tr>
        <tr>
            <td id="facturacion">
                <label><i class="fas fa-id-card" style="color:#160F5B ;"></i>&nbsp Cédula: </label>
            </td>
            <td>
                <label  class="form-control" id="exampleInputPassword1" style="background-color: #78AEEE;">{{cedula}}</label>
            </td>
        </tr>
        <tr>
            <td id="facturacion">
                <label> <i class="fas fa-truck" style="color:#160F5B ;"></i>&nbsp Dirección: </label>
            </td>
            <td>
                <label  class="form-control" id="exampleInputPassword1" style="background-color: #78AEEE;">{{direccion}}</label>
            </td>
        </tr>
        <tr>
            <td id="facturacion">
                <label><i class="fas fa-phone-volume" style="color:#160F5B ;"></i>&nbsp Producto:</label>
            </td>
            <td>
               <label  class="form-control" id="exampleInputPassword1" style="background-color: #78AEEE;">{{nombre_prod}}</label>
            </td>
        </tr>
        <tr>
            <td id="facturacion">
                <label><i class="fas fa-envelope" style="color:#160F5B ;"></i>&nbsp Cantidad: </label>
            </td>
            <td>
                <label  class="form-control" id="exampleInputPassword1" style="background-color: #78AEEE;">{{cant_comp}}</label>
            </td>
        </tr>
         <tr>
            <td id="facturacion">
                <label><i class="fas fa-envelope" style="color:#160F5B ;"></i>&nbsp Total: </label>
            </td>
            <td>
                <label  class="form-control" id="exampleInputPassword1" style="background-color: #78AEEE;">{{total}}</label>
            </td>
        </tr>
    </table>
    <br>
</center>
{{/each}}
{{/if}}
{{> footer}}