{{> header}}
{{> navbar}}
<div id="separacion"></div>
<div class="container p-4"></div>

Fecha: {{fecha}}<br>
Nombre: {{nombre}}<br>
Cédula: {{cedula}}<br>
Dirección: {{direccion}}  Teléfono: {{telef}}
<hr>
<table class="table">
    <tr>
        <th>Cantidad</th>
        <th>Producto</th>
        <th>Precio</th>
    </tr>
{{#each fac}}
<tr>
    <td>{{cant_comp}}</td>
    <td>{{nombre_prod}}</td>
    <td>{{total}}</td>
</tr>
{{/each}}
</table>
<b>TOTAL: $</b>{{sum_total}}
{{> footer}}