{{> header}}
{{> navbar_cs}}
<form action="/menu_gestionus">
<div id='separacion'></div>
<div id="barra">
    <h2><i class="fas fa-search"></i>&nbsp MODIFICAR USUARIOS</h2>
</div><br>
<div class="main row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <table class="table">
            <tr>
                <th>Nombre</th>
                <th>Cédula</th>
                <th>Correo</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Estado</th>
                <th>Tipo</th>
                <th>Imagen</th>
                <th>Modificar</th>
            </tr>
            {{#each datos}}
            <tr>
                <td>{{nombre}}</td>
                <td>{{cedula}}</td>
                <td>{{correo}}</td>
                <td>{{direccion}}</td>
                <td>{{telefono}}</td>
                <td>{{#if estado}}
                    activo
                    {{else}}
                    Inactivo
                    {{/if}}
                </td>
                <td>{{tipo}}</td>
                <td>
                    {{#if imagen}}
                    <img src="{{imagen}}" width="100%" height="100px"></img>
                    {{else}}
                    No tiene imagen
                    {{/if}}
                </td>
                <td>
                    <center><a href="/editar_datosUs?ci={{cedula}}" id='icono_mod'><i class="fas fa-edit"></a></i>
                    </center>
                </td>
            </tr>
            {{/each}}
        </table>
        <div id="espaciado_pag">
        </div>
        <center>
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-arrow-left"></i>&nbsp Regresar</button></center>
    </div>
    <div class="col-md-1"></div>
    <div id="espaciado_pag"></div>
</div>
</form>
{{> footer}}