{{> header}}
{{> navbar}}
<div id='separacion'></div>
<br>
{{> mensaje}}
    {{#if id_car}}
    <form action="/datos_tarj?id_car={{id_car}}" method="POST">
    {{else}}
    <form action="/datos_tarj?ids_car={{ids_car}}" method="POST">
        {{/if}}

        <div class="main row">
            <div class="col-md-11">
                <center>
                    <p><i class="fas fa-edit" style="color:#160F5B ;"></i>&nbsp Seleccionar forma de pago:
                    <p>
                </center>
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_tarjeta"><i
                        class="fas fa-info-circle"></i></button><br>
                <b style="color:#160F5B; font-size: small;">Ayuda</b>
            </div>
            <div class="container">
                <!--################para la ventana de ayuda#############################-->
                <div class="modal fade" id="modal_tarjeta">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header" style="background-color: #E4CF1A; color:black">
                                <i class="fas fa-info-circle" style="color:black"></i> Ayuda
                                <button type="button" data-dismiss="modal" class="close">
                                    &times;
                                </button>
                            </div>
                            <div class="modal-body">
                                <ol>
                                    <li>Al seleccionar Tarjeta de crédito:</li>
                                    <i class="fas fa-check-circle" style="color: #160F5B ;"></i>Se podrá diferir su
                                    compra a 3,
                                    6, 9 0 12 meses
                                    <li>Al seleccionar Tarjeta de débito:</li>
                                    <i class="fas fa-check-circle" style="color:#160F5B ;"></i>Recibirá el 10 % de
                                    descuento de
                                    su compra<br>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ##############RADIO BUTTONS############-->
                <center>
                    <div class="main row">
                        <div class="col-md-3"></div>
                        <div class="col-md-3">
                            <label class="radio-inline"><input type="radio" id="credito"
                                    onclick=showhideTarjeta_credito() name="tipoT" value="1"> Tarjeta de
                                crédito <i class="fas fa-credit-card" style="color:#160F5B ;"></i></label>
                        </div>

                        <div class="col-md-3">
                            <label class="radio-inline"><input type="radio" name="tipoT" id="debito"
                                    onclick=showhideTarjeta_debito() value="2"> Tarjeta de débito <i
                                    class="fas fa-money-check-alt" style="color:#160F5B ;"></i></label>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
            </div>
        </div>

        <center><br> <i class="fas fa-grin-beam" style="color:#160F5B ;"></i><label id="resp"> Selecciona una
                tarjeta</label>
        </center>
        </center>
        <!--#########################INFORMACIÓN###################################################-->
        <div class="container">
            <div class="main row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div id="ayuda">
                        <center>
                            <br>
                            <table class="table" border="2">
                                <tr>
                                    <td id="encabezadoT"><i class="fas fa-info-circle"></i>&nbsp Información</td>
                                </tr>
                                <tr>
                                    <td>
                                        <br>
                                        <div class="container">
                                            <ol>
                                                <li>Al seleccionar Tarjeta de crédito:</li>
                                                <i class="fas fa-check-circle" style="color: #160F5B ;"></i>Se podrá
                                                diferir su
                                                compra a 3, 6, 9 0 12 meses
                                                <li>Al seleccionar Tarjeta de débito:</li>
                                                <i class="fas fa-check-circle" style="color:#160F5B ;"></i>Recibirá el
                                                10 % de
                                                descuento de su compra<br>
                                            </ol>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </center>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
        <!--############################TARJETA DE CREDITO################################################-->
        <hr>
        <div id="tarjeta_credito" style="display: none;">
            <div class="main row">
                <div class="col-md-1">
                </div>
                <div class="col-md-5">
                    <label><b>Seleccionar meses a diferir:</b></label><br>
                    <label><b>Total a pagar:</b> $<label id="precio"> {{precio}} </label> </label><br><br>
                    <div class="radio" id="radio">
                        <label><input type="radio" name="meses" id="r" value="3" onclick=calcular_mes(this)> 3
                            meses</label>
                    </div>
                    <div class="radio" id="radio">
                        <label><input type="radio" name="meses" id="r" value="6" onclick=calcular_mes(this)> 6
                            meses</label>
                    </div>
                    <div class="radio" id="radio">
                        <label><input type="radio" name="meses" id="r" value="9" onclick=calcular_mes(this)> 9
                            meses</label>
                    </div>
                    <div class="radio" id="radio">
                        <label><input type="radio" name="meses" id="r" value="12" onclick=calcular_mes(this)> 12
                            meses</label>
                    </div>
                    <b>Pago: </b><label id='mes_seleccionado'></label>
                </div>

                <div class="col-md-1">
                </div>
                <div class="col-md-5">
                    <label> <i class="fas fa-id-card" style="color:#160F5B ;"></i>&nbsp Ingrese número de tarjeta:
                    </label>
                    <input type="imput" class="form-control" id="exampleInputPassword1" name="numeroTarjC"
                        placeholder='XXXXXXXXXXXXXXXX' required style="background-color: #78AEEE; width: 300px;"><br>
                    <label> <i class="fas fa-calendar-alt" style="color:#160F5B ;"></i>&nbsp Ingresar fecha de
                        expiración:
                    </label>
                    <input type="input" class="form-control" id="fecha" name="fechaTarjC" placeholder='AAAA/MM/DD'
                    style="background-color: #78AEEE; width: 300px;" onchange=mydate(this)><br>

                    <label> <i class="fas fa-lock" style="color:#160F5B ;"></i>&nbsp Ingresar código de seguridad:
                    </label>
                    <input type="input" class="form-control" id="exampleInputPassword1" name="codigoTarjC"
                        placeholder='XXX' style="background-color: #78AEEE; width: 300px;">
                </div>
            </div>
        </div>
        <!--#########################TARJETA DEBITO##############################-->
        <div id="tarjeta_debito" style="display: none;">
            <div class="main row">
                <div class="col-md-1">
                </div>
                <div class="col-md-5">
                    <label><b>Recibes el 10% de descuento:</b></label><br><br>
                    <table>
                        <tr id='descuento'>
                            <td id='celda'><i class="fas fa-shopping-cart" style="color: #160F5B ;"></i> Valor carrito
                            </td>
                            <td id='datos_td'>${{precio}}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-1">
                </div>
                <div class="col-md-5">
                    <label> <i class="fas fa-id-card" style="color:#160F5B ;"></i>&nbsp Ingrese número de tarjeta:
                    </label>
                    <input type="input" class="form-control" id="exampleInputPassword1" name="numeroTarjD"
                        placeholder='XXXXXXXXXXXXXXXX' style="background-color: #78AEEE; width: 300px;"><br>
                    <label> <i class="fas fa-calendar-alt" style="color:#160F5B ;"></i>&nbsp Ingresar fecha de
                        expiración:
                    </label>
                    <input type="input" class="form-control" id="fecha" name="fechaTarjD" placeholder='AAAA/MM/DD'
                        style="background-color: #78AEEE; width: 300px;" onchange=mydate(this)><br>

                    <label> <i class="fas fa-lock" style="color:#160F5B ;"></i>&nbsp Ingresar código de seguridad:
                    </label>
                    <input type="input" class="form-control" id="exampleInputPassword1" name="codigoTarjD"
                        placeholder='XXX'  style="background-color: #78AEEE; width: 300px;" >
                </div>
            </div>
        </div>
        <!--#####################BOTONES##################################-->
        <div class="container">
            <div class="main row">
                <div class="col-md-4"></div>
                <div class="col-md-2">
                    <div id="espaciado_boton"></div>
                    <a href="/carrito" class="btn btn-primary" style="width: 500"><i class="fas fa-arrow-circle-left"
                            style="color: white;">
                        </i> Cancelar Compra</a>
                    <div id="espaciado_boton"></div>
                </div>
                <div class="col-md-2">
                    <div id="espaciado_boton"></div>
                    <button type="submit" class="btn btn-primary" id='btn_aceptar' style="display: none;">
                        <i class="fas fa-thumbs-up" style="color: white;"></i>&nbsp Aceptar</button>
                    <div id="espaciado_boton"></div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
    </form>
    <script type="text/javascript">
        function showhideTarjeta_credito() {
            document.getElementById("resp").innerHTML = "Has seleccionado Tarjeta de crédito"

            if (document.getElementById('credito').checked) {
                document.getElementById('tarjeta_credito').style.display = 'block';
                document.getElementById('tarjeta_debito').style.display = 'none';
                document.getElementById('ayuda').style.display = 'none';
                document.getElementById('btn_aceptar').style.display = 'block';
            }
        }
        function showhideTarjeta_debito() {
            document.getElementById("resp").innerHTML = "Has seleccionado Tarjeta de débito"

            if (document.getElementById('debito').checked) {
                document.getElementById('ayuda').style.display = 'none';
                document.getElementById('tarjeta_debito').style.display = 'block';
                document.getElementById('tarjeta_credito').style.display = 'none';
                document.getElementById('ayuda').style.display = 'none';
                document.getElementById('btn_aceptar').style.display = 'block';
            }
        }
        function calcular_mes(id) {
            //el id retorna todo
            console.log(id.value)
            var precio = document.getElementById("precio").innerHTML;
            var meses = id.value;
            var res = parseInt(precio) / parseInt(meses);
            document.getElementById("mes_seleccionado").innerHTML = `Cuotas de: $ ${res.toFixed(2)}`
        }
        function mydate(myfecha) {
            var miDate = new Date(myfecha.value);
            var today = new Date();
            /*console.log(miDate);
            console.log(miDate.getTime);
            console.log(today.getTime);*/
            if (miDate <= today) {
                alert('Tarjeta Caducada');
                //myfecha.focus();
            }
        }
    </script>
    {{> footer}}